{% extends "forget_base.html" %}

{% block content %}
          <form class="panel-body" id="panel-content">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" value="{{ username }}" readonly="true">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" id="password" placeholder="new password" name="password">
            </div>
            <div class="form-group">
              <label>Retype Password</label>
              <input type="password" class="form-control" id="password_confirm" placeholder="new password" name="password_confirm">
            </div>
            <input type="password" class="form-control" id="form_mail" name="token" style="display: none;" value="{{token}}">
            <div class="text-center">
              <button type="submit" class="btn btn-primary" >Reset password</button>
            </form>

{% endblock %}
