<html>
  <head>
  {% for worker, color in color_map.items() %}
    <meta class="worker-color" name={{worker}} content="{{color}}">
  {%endfor%}
    <title>Iron Yun Vatic Admin</title>

    <link href="static/ironyunsmall.png" rel='icon' type='image/x-icon'/>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.js"></script>
    <link  rel= "stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether-theme-arrows-dark.css"</script>
    <!--script  src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js" ></script>
    <script src="/static/index.js"></script>
    <link  rel= "stylesheet" href="static/index.css">
    <link rel= "stylesheet" href="static/seekbar.css">
    <link  rel= "stylesheet" href="static/scroll-table.css">


    <!-- bootstrap-multiselect plugin -->
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>

    <script>
      // vatic set 30fps
      var refresh_interval = 1000 / 30;
      var users = [];
      {% for user in users|sort %}
        users.push("{{user}}");
      {% endfor %}
      var img_base_path = "http://172.16.12.91:8892/frames/" + '{{ users[0] }}' + "_";
      var video_frames = {};
      var frame_indexs = [];
      var preload_status = {
        loading: false,
        start: 0,
        end: 0
      };
      var lastShowImage;
      var initSelectOptions = function(option,container) {
        //TODO: should load option here, and
        $.ajax({
          method: "GET",
          url: "/",
        })
          .done(function(content) {
            // pre-option

            // console.log(content);
            // var items = JSON.parse(content).data.items;
            var items = [{name: "car", value: "car"}, {name: "person", value: "person"}]

            option.multiselect('rebuild');
            // alert( "success" );
          })
          .fail(function() {
            alert( "load type of class with error" );
          })
          .always(function() {
            // success or not, this will happen
            //alert( "complete" );
          });
        //$('#error-multiple-select').multiselect('rebuild');
      }
      var exitSelectOption = function(event) {
        // TODO:  refresh or update page here
        var select_val = $('#error-multiple-select').val()
        alert(select_val[0])
        $.ajax({
          url: '/multiclass_filter',
          data: {
            'selected_class':select_val.toString(),
            'video': $("#video-selection").val().slice(13)
          },
          success: function () {
            location.reload();
          }
        });
      }
      var operatorAllOptions = function(exceptOption, enableOrDisabled) {
        var exceptValue = exceptOption[0].value;
        var par = exceptOption.parent();
        var options = exceptOption.parent().find("option");
        for (var i=0; i< options.length; i++) {
          var option = options[i];
          console.log(option.value,exceptValue)
          if (option.value === exceptValue) {
            console.log("don't disable this option");
            continue;
          }
          option.disabled = !enableOrDisabled;
          option.selected = false;
        }
        $("#"+par[0].id).multiselect('refresh');
      }
      var disableAllOtherOption = function(nonTargetOption) {
        // console.log(nonTargetOption)
        operatorAllOptions(nonTargetOption, false)
      }
      var enableAllOtherOption = function(nonTargetOption) {
        operatorAllOptions(nonTargetOption, true)
      }
      var changeOptionCheck = function(option, checked) {
        if (option.attr("single")==="true") {
          console.log("single option");
          if (checked === true) {
            disableAllOtherOption(option);
          } else {
            enableAllOtherOption(option);
          }
        }
      }

      var exitUserSelectOption = function(event) {
      }
      $(document).ready(function(){

        // init multiple select
        var errorSelectOption = {
          onChange: changeOptionCheck,
          onInitialized: initSelectOptions,
          onDropdownHide: exitSelectOption,
          // includeSelectAllOption: true,
          buttonWidth: '150px',
          nonSelectedText: 'Select Error Type'
        }
        $('#error-multiple-select').multiselect(errorSelectOption);

        // init user select
        var userSelectOption = {
          onChange: changeOptionCheck,
          onInitialized: initSelectOptions,
          onDropdownHide: exitUserSelectOption,
          // includeSelectAllOption: true,
          buttonWidth: '150px',
          nonSelectedText: 'Select User'
        }
        $('#user-multiple-select').multiselect(userSelectOption);

        /* old selector
        $("#select_class").change(function(){
          var selected_class = $(this).val();

          $.ajax({
            url: '/multiclass_filter',
            data: {
              'selected_class': $(this).val()
            },
            success: function () {
              location.reload();
            }
          });
        });
        */

      });

      $(document).ready(function(){
        $("#user-multiple-select").on('change', function() {
          selected_user = $("#user-multiple-select").val();
          $(".error_entry").each(function(){
            if($(this).attr('id') != selected_user){
              $(this).hide();
            }
            else{
              $(this).show();
            }
          })
        })

      })

      $(document).ready(function(){
        $("#user-multiple-select").val($("#user-multiple-select option:first").val());
        selected_user = $("#user-multiple-select").val();
        $(".error_entry").each(function(){
          if($(this).attr('id') != selected_user){
            $(this).hide();
          }
          else{
            $(this).show();
          }
        })
      });

      $(document).ready(function(){
        $(".segment_click").on('click', function() {
          link = $(this).parent().parent().next().next().children().attr('href');
          link = link.replace(/\d+$/, "") + $(this).text()
          $(this).parent().parent().next().next().children().attr('href',link);
        })

      })

    </script>
  </head>










<body>
  <div class="container-fluid">
    <h1 style="background: linear-gradient(to bottom right, 	#01AEFB , white);margin:0px;padding:10px 0px 10px 10px;margin-left:-15px; margin-right:-15px">Vatic Admin Prototype 2.0<img src="/static/ironyun.png" alt="Smiley face" height="40" width="160" align="right" style="margin-right:15px"></h1>
    <div class="row" style="margin-top:27px">
      <div class="col-md-6">
        <!--   Select Picker for Video and Update Button -->
        <select id="video-selection" class="selectpicker" style="width:140px;height:35px;margin-left:0px;background-color:white;border-radius: 3px;" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
          {% for video in videos %}
            <option value="/?video_name={{video}}">{{video}}</option>
          {% endfor %}
        </select>
        <a href="update?video_name={{videos[0]}}"><button type="button" class="btn btn-primary">Update <span class="glyphicon glyphicon-repeat"></button></a>
        <!--   End of Select Picker for Video and Update Button -->
      </div>
      <div class="col-md-2">
        <h3 style="margin-top: 10px;">Error List</h3>
      </div>
      <div class="col-md-4 text-right">
        <select id="user-multiple-select" multiple="multiple">
          {%for user in users%}
          <option value = '{{user}}' single='true'>{{user}}</option>
          {%  endfor %}
        </select>

        <select id="error-multiple-select" multiple="multiple">
          <option value='all' single='true'>all</option>
          <option value='another' single='true'>another</option>
          {%for class in label%}
          <!--<option value = '{{class.text}}'>{{class.text}}</option> -->
          <option value = '{{class}}'>{{class}}</option>
          {%  endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="body" >
    <div class="row">
      <div class="col-md-6" id="player" style="margin-top:-5px">
        <h2><span class="label label-default"><strong>Frame:</strong> <strong id='frame-num'>{{frame_num}}</strong></span></h2>
        <svg id="alert-svg" class="svg-content" frame-num="{{frame_num}}"
          viewBox="0 0 {{video_res.width}} {{video_res.height}}"
          preserveAspectRatio="xMinYMin meet" > </svg>
        <!--  Control Buttons -->
        <div id="seekbar-container">
          <input type="range" id="seekbar" class="seekbar" max="1" step="0.0000001" value="0" onchange="onchange_seekbar(this)" oninput="oninput_seekbar(this)">
        </div>
        <div id="buttons">
          <a id="previous-button"><button class="btn btn-success"> Previous <span class="glyphicon glyphicon-arrow-left"></span></button></a>
          <a id="next-button"><button class="btn btn-primary"> Next <span class="glyphicon glyphicon-arrow-right"></span></button></a>
          &nbsp;
          &nbsp;
          <a id="play-button"><button class="btn btn-danger"> Play <span class="glyphicon glyphicon-play"></span></button></a>
          <a id="stop-button"><button class="btn btn-warning"> Pause <span class="glyphicon glyphicon-pause"></span></button></a>
          <a id="rewind-button"><button class="btn btn-info"> Rewind <span class="glyphicon glyphicon-backward"></span></button></a>
        </div>
        <!--  End of Control Buttons -->

        <!--  Alert Info -->
        <div id="alert-info" class="col-md-6">
          <div id="wrong_number">
          {% if "wrong_number" in alert %}  <div class="row"></div>
              <h4>Wrong Number:</h4>
              <ul id="w-list" class="list-group">
              {% for user in alert["wrong_number"]|sort %}
                <li class="list-group-item">
                  <span class="badge">{{alert["wrong_number"][user]}}</span>
                  {{user}}
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div id="isolation">
          {% if "isolation" in alert %}

              <h4>Isolation:</h4>
              <ul id="i-list" class="list-group">
              {% for user in alert["isolation"]|sort %}
                <li class="list-group-item">
                  <span class="badge">{{alert["isolation"]|length}}</span>
                  {{user}}
                </li>
              {% endfor %}
              </ul>
          {% endif %}
          </div>

        </div>
        <!--  End of Alert Info -->






      </div>


      <div class="col-md-6">
        <div id="error-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>Worker</th>
                <th>Frame</th>
                <th>Box No.</th>
                <th>Segment</th>
                <th>Category</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>


              {% for worker in errors|sort %}

                {%for error in errors[worker]%}
                <tr box-id={{error["reference"]}} id = {{worker}} class = "error_entry">

                  {% if error["type"] == "missing"%}
                      <td><span class="label label-warning">少</span></td>
                  {%elif error["type"] == "surplus"%}
                      <td><span class="label label-info">多</span></td>
                  {%elif error["type"] == "unmatched"%}
                      <td><span class="label label-primary ">非</span></td>
                  {%endif%}
                  <td>{{error["reference"]}}</td>
                  <td><h4> <a onclick='page_update_seek({{error["start"]}})' class="segment_click" style="cursor:pointer">{{error["start"]}}</a> ➡ <a onclick='page_update_seek({{error["end"]}})' class="segment_click" style="cursor:pointer">{{error["end"]}}</h4></td>
                  <td>{{error["owner"]}}</td>

                  <!-- following not working -->
                  <td>
                    {% for link in target_links %}
                    {% if link[0].split("(")[0] == worker %}

                    <a href="{{ link[1] }}{{error["start"]}}">
                      Go to VATIC<br>
                    </a>
                    {% endif %}
                    {% endfor %}
                  </td>
                  <!--td>{{ error }}</td-->
                  <td>{{error["label"]}}</td>

                  {%set error_id=[video_name, worker, error["reference"], error["box_id"], error["type"], error["start"], error["end"]]|join("\t")%}
                  <td>
                    <div class="checkbox">
                      {%if error_id in check_boxes%}
                        <label><input type="checkbox" checked data-error="{{error_id}}" data-video={{video_name}} data-master={{worker}} data-reference={{error["reference"]}}  data-id={{error["box_id"]}} data-type={{error["type"]}} data-begin={{error["start"]}} data-end={{error["end"]}}></label>
                      {%else%}
                        <label><input type="checkbox" data-error="{{error_id}}" data-video={{video_name}} data-master={{worker}} data-reference={{error["reference"]}}  data-id={{error["box_id"]}} data-type={{error["type"]}} data-begin={{error["start"]}} data-end={{error["end"]}}></label>
                      {%endif%}
                    </div>
                  </td>
                </tr>
                {% endfor %}

              {% endfor %}
            </tbody>
          </table>
        </div>


             <!--  End of Groupped Erros Info -->
      </div>

    </div>
  </div>

<!-- <img src="{{ url_for('video_frame', frame_number='0', video_name='jacksonhole.mp4') }}" alt="Smiley face" height="100" width="100"> -->
</body>
</html>
