<html>
  <head>
  <title>Iron Yun Vatic Admin</title>

  </head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.js"></script>
  <link  rel= "stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether-theme-arrows-dark.css"</script>
  <script  src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

  <script src="static/index.js"></script>








  <body style="margin:16px; padding:16px">
  <meta id="alerts" data-alerts="{{alerts}}" >

  <h1>Vatic Admin Prototype</h1>

  <div class="row">
    <select id="video-selection" class="selectpicker" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
      {% for video in videos %}
        <option value="/?video_name={{video}}">{{video}}</option>
      {% endfor %}
    </select>
    <a href="update"><button type="button" class="btn btn-primary">Update Annotations</button></a>
  </div>



<div id="img-wrapper"  class="row">
   <div class="col-md-6">
  <img  id='alert-img' frame-num={{frame_num}} src={{img_url}}   style="float:left" >
    </div>
     <div id ="target-links" class="col-md-6" style="text-align:left;">
       {% for user, link in target_links %}
       <a href={{link}}>{{user}}'s link</p>
       {% endfor %}
  </div>

</div>
  <p id='frame-num' >{{frame_num}}</p>
<a id="next-button"><button> Next <span class="glyphicon glyphicon-forward"></span></button></a>
<a id="previous-button"><button> Previous <span class="glyphicon glyphicon-backward"></span></button></a>
<p id="alert-info">{{alert}}</p>
</body>
</html>
